body {
  background-color: #ffffff;
  background-image: url("images/overlay.png"), -moz-linear-gradient(45deg, #06beb6 15%, #48b1bf 85%);
  background-image: url("images/overlay.png"), -webkit-linear-gradient(45deg, #06beb6 15%, #48b1bf 85%);
  background-image: url("images/overlay.png"), -ms-linear-gradient(45deg, #06beb6 15%, #48b1bf 85%);
  background-image: url("images/overlay.png"), linear-gradient(45deg, #06beb6 15%, #48b1bf 85%);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;

  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 30pt;
  font-weight: 300;
  line-height: 1.65;

  color: rgba(255, 255, 255, 0.65);
}

@-webkit-keyframes bounceInDown {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  to 16.7% {
    transform: translate3d(0, 0, 0);
  }
  16.7% {
    transform: none;
  }
  from,
  85% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.centered {
  color: black;
  position: absolute;
  text-align: center;
  top: 11%;
  left: 38%;
  font-size: .75em;
  transform: translate(-50%, -50%);
  transform: rotate(4.8deg);
}

.quotebox {
  color: black;
  position: absolute;
  top: 5%;
  left: 37%;
  font-size: .6em;
  transform: translate(-50%, -50%);
  transform: rotate(4.8deg);
}

.centered2 {
  color: black;
  position: absolute;
  text-align: center;
  top: 20%;
  left: 36%;
  font-size: .5em;
  transform: translate(-50%, -50%);
  transform: rotate(4.8deg);
}

.quotebox2 {
  color: black;
  position: absolute;
  top: 33%;
  left: 30%;
  font-size: 20pt;
  transform: translate(-50%, -50%);
  transform: rotate(4.8deg);
}

.logo {
  background-color: transparent;
  position: absolute;
  top: 97%;
  left: 33%;
}